// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$blue: #00a1e2;
/* $red: #e8173e; */
$red: #e7173e;
/* $green: #0cf0b5; */

// $green: #65ba9d;
//$green: #0cefb5;
/* $green: #0cefb5; */
$green: #00d49c;

$darkgrey: #777c82;

$background: #eae4e4;

$brand-primary: $blue;

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;
