html {
    position: relative;
	  min-height: 100%;
    background-color: $background;
}

body {
    background-color: $background;
    margin-bottom: 60px;
}

// Manual spacing utilities (see: https://getbootstrap.com/docs/4.0/utilities/spacing/)

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

#page {
    height: 100%;
}

#main-menu {
    /* border-radius: 10px; */
}

.wrapper-navbar {
    padding-top: 20px;
}

.navbar-brand > img {
    width: 300px;
}

#menu-mainmenu {
    margin-right: 8em;
    padding-left: 16px;
}


// Main page
.site-main {
    padding-right: 15px;
}

// Home page cards
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.card > .card-max-img {
    padding-top: 10px;
}


.card-max-img {
    height: 450px;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
}

.card-title > a {
    display: inline-block; /* Needed for first-letter selector  */
    color: white;
    text-transform: uppercase;    
    // font-weight: bold;
    font-size: 1.2em;
}

.card-title > a:first-letter {
    font-size: 1.4em;
    font-weight: bold;
    // text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title > a:hover {
    border-bottom: 1px solid white;
    text-decoration: none;
}

.card .subtitle {
    display: block;
    text-transform: uppercase;    
    font-size: 0.85em;
    line-height: 0.75em;
}

.card-blue {
    background-color: $blue; 
    color: white;
}

.card-red {
    background-color: $red; 
    color: white;
}

.card-green {
    background-color: $green; 
    color: white;
}

.card {
    border-radius: 0;
}


// menu
#top-menu .menu-item {
    background-color: $darkgrey;
    margin-right: 0.5em;
}

#top-menu .menu-item:last-child {
    margin-right: 0;
}

#top-menu .menu-item > a {
    text-transform: uppercase;
    color: white;
}

#top-menu .menu-item > a:hover {
    /* text-transform: uppercase; */
    text-decoration: underline;
    /* color: $brand-primary; */
}

#footer-menu .menu-item > a {
    color: $background;
}

#footer-menu .menu-item > a:hover {
    /* color: $brand-primary; */
    text-decoration: underline;
}

#footer-menu li {
    margin: 3px 0;
    color: $background;
    border-right: 1px solid $background;
}
#footer-menu li:last-child {
    border-right: none;
}


.footer-style {
    position: absolute;
    top: 0;
    right: 5px;
}

#wrapper-footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 30px;
}

ul.points {
    list-style: none;
    display: flex;
    align-items: stretch;
}

.points li {
    float: left;
    height: 100%;
    display: inline-block;
}

.point-1 {
    width: 25px;
    background-color: $background;
}


// footer
.footer-list .nav-item {
    color: white;
    background-color: $darkgrey;
    margin-right: 1em;
    padding-left: 0.2em;
}

.footer {
    padding: 0 3em;
}

.footer-container {
    padding: 0.2em;
    background-color: $darkgrey;
}



#footer-menu.navbar-nav li a.nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

// Page


.entry-title {
    color: $brand-primary;
    text-transform: uppercase;
}

.secondary-page h2 {
    color: $darkgrey;
    text-transform: uppercase;
}


.entry-title::first-letter {
    font-weight: bold;
    font-size: 1.4em;
}

.page-bar {
    margin-bottom: 13px;
    height: 13px;
    background-color: $brand-primary;

}


// Menu in page

.menu .menu-item {
    float: none; 
    display: block;
}

.menu .menu-item {
    border-top: 6px $darkgrey solid;
    margin-bottom: 10px;
}

.menu .menu-item a {
    color: $darkgrey;
    text-transform: uppercase;
}


.menu  .current_page_item {
    border-top: 6px $brand-primary solid;
}
.menu  .current_page_item a {
    color: $brand-primary;
}


// Contact form
.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb !important;

    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}



.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb !important;

    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}
